body {
  background-color: #f8f8f8;
  height: 100%;
  color: #111111;
  font-family: 'Inter',
    sans-serif;
}

h1 {
  text-align: center;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10vh 5vw;
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#home-div h2 {
  font-size: 30px;
  margin: 1.5vh;
  width: 100%;
  text-align: center;
}

#present-btn {
  margin-top: 20px;
  padding: 2vh 5vw;
  border-radius: 5px;
  background-color: #0dff5a;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
    border: none;
}

#present-btn:hover {
  background-color: rgba(0, 255, 76, 0.547);
}

#present-btn:active {
  background-color: rgba(0, 163, 49, 0.863);
}

#absent-btn {
  margin-top: 1vh;
  padding: 2vh 25vw;
  border-radius: 5px;
  background-color: #e93131;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border: none;
  }

#absent-btn:hover {
  background-color: rgba(233, 49, 49, 0.547);
}

#absent-btn:active {
  background-color: rgba(176, 36, 36, 0.911);
}

#undo-btn {
  margin-top: 1vh;
  padding: 2vh 25vw;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
    border: none;
}

#undo-btn:hover {
  background-color: rgba(255, 204, 0, 0.547);
}

#undo-btn:active {
  background-color: rgba(146, 117, 5, 0.747);
}

#footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10vh 5vw;
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#footer-div p {
  margin: auto;
}

#footer-div h2 {
  margin: 1vh auto;
  padding: 0;
}

#copylist-btn {
  margin-top: 20px;
  padding: 2vh 5vw;
  border-radius: 5px;
  background-color: #3281ff;
  color: #fafafaed;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border: none;
}

#copylist-btn:hover {
  background-color: rgba(50, 129, 255, 0.741);
}

#copylist-btn:active {
  background-color: rgba(0, 63, 123, 0.863);
}


@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: floatUpDown 0.3s ease-in-out;
}

.present {
  color: #0dff5a;
}

.absent {
  color: #e93131;
}