body {
  background-color: #181818;
  height: 100%;
  color: #fbfbfb;
  font-family: 'Inter',
  sans-serif;
}

h1 {
  text-align: center;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 10vh 0;
}

#home-div h2 {
  font-size: 30px;
  margin: 1.5vh;
  width: 100%;
  text-align: center;
}

#present-btn{
  margin-top: 20px;
  padding: 2vh 5vw;
  border-radius: 5px;
  background-color: #0dff5a;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

#present-btn:hover {
  background-color: rgba(0, 255, 76, 0.547);
}

#present-btn:active {
  background-color: rgba(0, 255, 76, 0.747);
}

#absent-btn {
  margin-top: 1vh;
  padding: 2vh 25vw;
  border-radius: 5px;
  background-color: #e93131;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

#absent-btn:hover {
  background-color: rgba(233, 49, 49, 0.547);
}

#absent-btn:active {
  background-color: rgba(233, 49, 49, 0.747);
}

#footer-div {
  margin: auto;
  bottom: 0;
  width: 90%;
  text-align: center;
  padding: 10px 0;
  background-color: #181818;
  color: #fbfbfb;
  font-size: 20px;
}

#footer-div p{
  margin: auto;
  width: 90%;
}
#footer-div h3 {
  width: 90%;
  margin: 0;
  padding: 0;
}


#copylist-btn {
  margin-top: 20px;
  padding: 2vh 5vw;
  border-radius: 5px;
  background-color: #ffffff;
  color: #181818;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

#copylist-btn:hover {
  background-color: rgba(255, 255, 255, 0.547);
}